Repository Beaulewis1977/grail-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

chore: add markdownlint ignore and config
  .markdownlintignore
  .markdownlintrc
  .markdownlintrc.json
  IMPLEMENTATION_STATUS.md
  README.md
  Uploads/sneakers-gemini-1.md
  apify_actor_research.md
  component_specifications.md
  component_specifications_complete.md
  component_specifications_part2.md
  existing_apify_actors_analysis.md
  grail-hunter-README.md
  grail-hunter-technical-architecture.md
  prompts/phase-2-agent-prompt.md
  prompts/phase-3-agent-prompt.md
  prompts/phase-4-agent-prompt.md
  sneaker_actor_design_docs.md
  sneaker_market_research.md
  sneakers-gemini-1.md
  technical_architecture.md
  tweets_auth_painpoints.md
Due: prettier --write, markdownlint --fix

feat: enhance core functionality and testing infrastructure
  .actor/INPUT_SCHEMA.json
  .actor/OUTPUT_SCHEMA.json
  .actor/actor.json
  .coderabbitai.yaml
  .github/workflows/lint-and-format.yml
  .gitignore
  .lintstagedrc.json
  Dockerfile
  commitlint.config.js
  jest.config.js
  package-lock.json
  package.json
  src/core/deduplicator.js
  src/core/filter.js
  src/core/normalizer.js
  src/core/parser.js
  src/index.js
  src/notifications/webhook.js
  src/scrapers/grailed.js
  src/utils/errors.js
  src/utils/validators.js
  tests/fixtures/grailed-listings.json
  tests/fixtures/images/placeholder.jpg
  tests/integration/end-to-end.test.js
  tests/integration/grailed_scraper.test.js
  tests/unit/deduplicator.test.js
  tests/unit/index.test.js
  tests/unit/normalizer.test.js
  tests/unit/validators.test.js
  tests/unit/webhook.test.js
Due: eslint --fix, prettier --write

docs: add CodeRabbit review resolution documentation
  CODERABBIT_REVIEW.md
Due: prettier --write, markdownlint --fix

fix: address CodeRabbit review feedback
  src/core/normalizer.js
  src/scrapers/grailed.js
  technical_architecture.md
Due: eslint --fix, prettier --write, markdownlint --fix

docs: update CodeRabbit review documentation with PR #6 fixes
  CODERABBIT_REVIEW.md
Due: prettier --write, markdownlint --fix

fix: address additional CodeRabbit review feedback
  src/core/normalizer.js
  technical_architecture.md
Due: eslint --fix, prettier --write, markdownlint --fix

feat(phase-2): eBay integration and multi-platform aggregation
  .actor/INPUT.json
  .actor/OUTPUT_SCHEMA.json
  .actor/actor.json
  .actor/input_schema.json
  .github/workflows/lint-and-format.yml
  CLAUDE.md
  IMPLEMENTATION_STATUS.md
  PR_DESCRIPTION.md
  README.md
  Uploads/sneakers-gemini-1.md
  WORKSPACE_FILE_AUDIT.md
  apify_actor_research.md
  component_specifications.md
  component_specifications_complete.md
  component_specifications_part2.md
  grail-hunter-README.md
  grail-hunter-technical-architecture.md
  prompts/phase-2-agent-prompt.md
  prompts/phase-4-agent-prompt.md
  sneaker_actor_design_docs.md
  sneakers-gemini-1.md
  src/config/platforms.js
  src/core/normalizer.js
  src/index.js
  src/scrapers/ebay.js
  src/scrapers/grailed.js
  src/scrapers/manager.js
  src/utils/validators.js
  technical_architecture.md
  tests/integration/ebay_scraper.test.js
  tests/integration/multiplatform_end_to_end.test.js
  tests/unit/ebay_scraper.unit.test.js
  tests/unit/index.test.js
  tests/unit/normalizer.test.js
  tests/unit/scraper-base.test.js
  tests/unit/scraper-manager.test.js
  tests/unit/validators.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

feat: migrate dedupe to sha256 and refresh ebay flow
  src/core/deduplicator.js
  src/core/normalizer.js
  src/notifications/webhook.js
  src/scrapers/ebay.js
  tests/integration/ebay_scraper.test.js
  tests/unit/deduplicator.test.js
  tests/unit/ebay_scraper.unit.test.js
  tests/unit/normalizer.test.js
  tests/unit/webhook.test.js
Due: eslint --fix, prettier --write

docs: record phase 2 scope and sha256 migration
  IMPLEMENTATION_STATUS.md
  PR_DESCRIPTION.md
  component_specifications.md
  component_specifications_complete.md
  grail-hunter-README.md
  sneaker_actor_design_docs.md
  technical_architecture.md
Due: prettier --write, markdownlint --fix

docs: clarify md5 drop behavior for sha256 dedupe
  IMPLEMENTATION_STATUS.md
  PR_DESCRIPTION.md
  src/core/deduplicator.js
Due: eslint --fix, prettier --write, markdownlint --fix

chore: refresh actor metadata for phase 2
  .actor/actor.json
  .actor/input_schema.json
Due: prettier --write

Create local ISSUE_PHASE-2.5.md for Phase 2.5 work (schema alignment)
  ISSUE_PHASE-2.5.md
Due: prettier --write, markdownlint --fix

feat(schema): Phase 2.5 - Schema alignment for advanced intelligence
  .actor/OUTPUT_SCHEMA.json
  IMPLEMENTATION_STATUS.md
  README.md
  component_specifications.md
  component_specifications_complete.md
  prompts/phase-2-5
  prompts/phase-3-agent-prompt.md
  src/core/normalizer.js
  src/notifications/dataset.js
  tests/integration/end-to-end.test.js
  tests/unit/normalizer.test.js
  tests/unit/webhook.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

docs: update Phase 3 documentation and fix test suite
  .actor/input_schema.json
  IMPLEMENTATION_STATUS.md
  README.md
  prompts/phase-3-agent-prompt.md
  prompts/phase-4-agent-prompt.md
  src/config/platforms.js
  src/core/deduplicator.js
  src/core/normalizer.js
  src/data/market-values.json
  src/index.js
  src/modules/deal-scorer.js
  src/notifications/webhook.js
  src/scrapers/manager.js
  src/scrapers/stockx.js
  src/utils/validators.js
  tests/unit/deal-scorer.test.js
  tests/unit/index.test.js
  tests/unit/stockx-scraper.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

fix: address CodeRabbit findings and CI/CD failures
  jest.config.js
  src/modules/deal-scorer.js
  tests/setup.js
  tests/unit/stockx-scraper.test.js
Due: eslint --fix, prettier --write

fix: resolve all remaining CodeRabbit findings and CI coverage threshold
  jest.config.js
  src/modules/deal-scorer.js
Due: eslint --fix, prettier --write

fix: ensure dealRate returns consistent numeric type
  src/modules/deal-scorer.js
Due: eslint --fix, prettier --write

chore: add agent scaffold and audit docs
  .agents/README.md
  .agents/examples/01-basic-diff-reviewer.ts
  .agents/examples/02-intermediate-git-committer.ts
  .agents/examples/03-advanced-file-explorer.ts
  .agents/my-custom-agent.ts
  .agents/types/agent-definition.ts
  .agents/types/tools.ts
  .agents/types/util-types.ts
  .eslintignore
  .gitignore
  .markdownlintignore
  audit/ACTOR_AUDIT.md
  audit/COVERAGE_ROADMAP.md
  codebuff.json
  knowledge.md
Due: eslint --fix, prettier --write, markdownlint --fix

fix: address PR review feedback
  .agents/examples/03-advanced-file-explorer.ts
  knowledge.md
Due: eslint --fix, prettier --write, markdownlint --fix

chore: document phase roadmap and workflow
  DEVELOPMENT_PHASES.md
  IMPLEMENTATION_STATUS.md
  audit/COVERAGE_ROADMAP.md
  prompts/phase-3x-agent-prompt.md
  prompts/phase-4-agent-prompt.md
  prompts/phase-40-agent-prompt.md
  prompts/phase-41-agent-prompt.md
  prompts/phase-42-agent-prompt.md
Due: prettier --write, markdownlint --fix

feat(phase-3x): add advanced filter input fields and enhance normalizers
  .actor/input_schema.json
  src/core/normalizer.js
  src/utils/validators.js
Due: eslint --fix, prettier --write

feat(phase-3x): implement advanced filter methods in ListingFilter
  src/core/filter.js
  src/index.js
Due: eslint --fix, prettier --write

feat(phase-3x): add example configuration presets
  examples/README.md
  examples/collector-preset.json
  examples/price-drop-watcher.json
  examples/reseller-preset.json
Due: prettier --write, markdownlint --fix

test(phase-3x): add comprehensive tests for advanced filters
  tests/unit/filter.test.js
  tests/unit/validators.test.js
Due: eslint --fix, prettier --write

docs(phase-3x): update README and implementation status
  IMPLEMENTATION_STATUS.md
  README.md
Due: prettier --write, markdownlint --fix

feat(phase-3x): implement comprehensive monitoring and observability
  README.md
  src/index.js
  tests/unit/index.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

fix(phase-3x): address CodeRabbit review findings and CI issues
  IMPLEMENTATION_STATUS.md
  README.md
  examples/README.md
  examples/collector-preset.json
  examples/price-drop-watcher.json
  examples/reseller-preset.json
  src/core/normalizer.js
  src/utils/validators.js
  tests/unit/filter.test.js
  tests/unit/validators.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

docs(phase-40): update README and implementation status for Phase 4.0
  IMPLEMENTATION_STATUS.md
  README.md
  examples/README.md
  examples/safer-marketplaces-preset.json
Due: prettier --write, markdownlint --fix

feat(phase-40): add Depop and Poshmark platform integration
  .actor/input_schema.json
  src/config/platforms.js
  src/core/normalizer.js
  src/scrapers/depop.js
  src/scrapers/manager.js
  src/scrapers/poshmark.js
Due: eslint --fix, prettier --write

test(phase-40): add comprehensive tests for Depop and Poshmark
  tests/integration/depop_scraper.test.js
  tests/integration/poshmark_scraper.test.js
  tests/unit/normalizer.test.js
Due: eslint --fix, prettier --write

fix(phase-40): address CodeRabbit and Copilot review findings
  .actor/input_schema.json
  IMPLEMENTATION_STATUS.md
  README.md
  src/core/normalizer.js
  tests/unit/normalizer.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

feat(phase-41): add Mercari and OfferUp as beta platforms with risk-managed toggles
  .actor/actor.json
  .actor/input_schema.json
  IMPLEMENTATION_STATUS.md
  README.md
  src/config/platforms.js
  src/core/normalizer.js
  src/index.js
  src/scrapers/manager.js
  src/scrapers/mercari.js
  src/scrapers/offerup.js
  src/utils/validators.js
  tests/integration/mercari_scraper.test.js
  tests/integration/offerup_scraper.test.js
  tests/unit/normalizer.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

fix(phase-41): fix failing tests and add comprehensive beta platform failure monitoring
  src/index.js
  tests/integration/mercari_scraper.test.js
  tests/integration/offerup_scraper.test.js
Due: eslint --fix, prettier --write

fix(phase-41): address CodeRabbit review findings
  .actor/input_schema.json
  src/config/platforms.js
  src/index.js
  src/scrapers/manager.js
  src/utils/validators.js
Due: eslint --fix, prettier --write

feat(phase-42): implement GOAT scraper and dataset ingestion (Pattern A + C)
  .actor/input_schema.json
  src/config/platforms.js
  src/core/normalizer.js
  src/scrapers/dataset-ingestion.js
  src/scrapers/goat.js
  src/scrapers/manager.js
  tests/integration/dataset_ingestion.test.js
  tests/integration/goat_scraper.test.js
  tests/unit/normalizer.test.js
Due: eslint --fix, prettier --write

feat(phase-42): refactor StockX for hybrid strategy (Pattern A + API fallback)
  src/scrapers/stockx.js
  tests/integration/stockx_hybrid.test.js
  tests/unit/stockx-scraper.test.js
Due: eslint --fix, prettier --write

docs(phase-42): add hybrid strategy docs and legal disclaimers
  .actor/actor.json
  README.md
Due: prettier --write, markdownlint --fix

docs(phase-42): update implementation status to reflect Phase 4.2 completion
  IMPLEMENTATION_STATUS.md
Due: prettier --write, markdownlint --fix

fix(phase-42): address CodeRabbit review findings
  .actor/input_schema.json
  README.md
  src/core/normalizer.js
  src/scrapers/manager.js
  src/scrapers/stockx.js
  tests/integration/stockx_hybrid.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

refactor(phase-42): complete all deferred CodeRabbit findings
  src/scrapers/dataset-ingestion.js
  src/scrapers/goat.js
  src/scrapers/manager.js
  src/scrapers/stockx.js
  src/utils/pagination.js
  tests/integration/dataset_ingestion.test.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((any of: *.{js,ts,jsx,tsx}) or (any of: *.md)) or (any of: *.{json,yaml,yml})
  markdownlint --fix: any of: *.md
