Repository Beaulewis1977/grail-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

docs(security): comprehensive security audit and remediation guide
  SECURITY_AUDIT_REPORT.md
  SECURITY_FIXES_GUIDE.md
  package-lock.json
Due: prettier --write, markdownlint --fix

docs: add Apify Actor Challenge documentation
  apify-actor-challenge/apify-store-description.md
  apify-actor-challenge/how-to-run-grail-hunter.md
  apify-actor-challenge/implementation-audit.md
  apify-actor-challenge/readiness-checklist.md
Due: prettier --write, markdownlint --fix

docs: clarify local setup guide
  apify-actor-challenge/how-to-run-grail-hunter.md
Due: prettier --write, markdownlint --fix

feat: harden compliance, persistence, and scoring
  .actor/input_schema.json
  IMPLEMENTATION_STATUS.md
  README.md
  codex-report.md
  src/config/platforms.js
  src/core/deduplicator.js
  src/index.js
  src/modules/deal-scorer.js
  src/notifications/webhook.js
  src/scrapers/ebay.js
  src/scrapers/goat.js
  src/scrapers/manager.js
  src/scrapers/stockx.js
  src/utils/validators.js
  tests/integration/goat_scraper.test.js
  tests/integration/stockx_hybrid.test.js
  tests/unit/deal-scorer.test.js
  tests/unit/stockx-scraper.test.js
  tests/unit/validators.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

docs: add scraper build plan
  docs/scraper-build-plan.md
Due: prettier --write, markdownlint --fix

fix: validate enableGOAT as boolean
  src/utils/validators.js
Due: eslint --fix, prettier --write

fix: normalize enableGOAT and clarify proxy message
  src/utils/validators.js
Due: eslint --fix, prettier --write

feat: first-party Playwright scrapers for Grailed/eBay + multi-channel notifications
  .actor/input_schema.json
  .gitignore
  README.md
  src/config/platforms.js
  src/notifications/discord.js
  src/notifications/email.js
  src/notifications/manager.js
  src/notifications/slack.js
  src/notifications/sms.js
  src/scrapers/depop.js
  src/scrapers/ebay.js
  src/scrapers/grailed.js
  src/scrapers/mercari.js
  src/scrapers/offerup.js
  src/scrapers/poshmark.js
  src/scrapers/utils/playwright.js
  src/utils/validators.js
  tests/integration/depop_scraper.test.js
  tests/integration/ebay_scraper.test.js
  tests/integration/grailed_scraper.test.js
  tests/integration/mercari_scraper.test.js
  tests/integration/offerup_scraper.test.js
  tests/integration/poshmark_scraper.test.js
  tests/unit/ebay_scraper.unit.test.js
  tests/unit/notification-manager.test.js
Due: eslint --fix, prettier --write, markdownlint --fix

fix: address Copilot review feedback for Playwright scrapers & notifications
  src/config/platforms.js
  src/notifications/discord.js
  src/notifications/slack.js
  src/notifications/sms.js
  src/scrapers/depop.js
  src/scrapers/ebay.js
  src/scrapers/grailed.js
  src/scrapers/mercari.js
  tests/integration/depop_scraper.test.js
  tests/integration/ebay_scraper.test.js
  tests/integration/grailed_scraper.test.js
  tests/integration/mercari_scraper.test.js
  tests/integration/offerup_scraper.test.js
  tests/integration/poshmark_scraper.test.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((any of: *.{js,ts,jsx,tsx}) or (any of: *.md)) or (any of: *.{json,yaml,yml})
  markdownlint --fix: any of: *.md
